<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.in.hitch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.RazorPay"
            android:exported="true" />
        <activity android:name=".Activities.Splash" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".Activities.Activity_My_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Account_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Matches"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_My_chats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Verification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Choose_plan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_payment_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_My_Matches"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_User_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Profile_completion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Sign_up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_chat_dashboard"
            android:configChanges="keyboardHidden" /> <!-- android:screenOrientation="portrait" -->
        <!-- android:windowSoftInputMode="adjustPan|stateVisible|stateAlwaysHidden" -->
        <activity
            android:name=".Activities.Activity_profile_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_top_hitches"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Delete_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Add_photos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Activity_Profile_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar.Transparent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.in.hitch.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>